<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Cadastrar Fornecedor</h1>
        <form [formGroup]="formFornecedor" (ngSubmit)="addFornecedor()" class="mb-5">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Fornecedor:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" required />
            </div>
            <div class="mb-3">
                <label for="cnpj" class="form-label">CNPJ:</label>
                <input type="text" class="form-control" id="cnpj" formControlName="cnpj" required />
            </div>
            <div class="mb-3">
                <label for="fone" class="form-label">Telefone:</label>
                <input type="text" class="form-control" id="fone" formControlName="fone" required />
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="reset" class="ms-2 btn btn-danger">Limpar</button>
        </form>
    </div>
</div>